{% load static %}
<html>
    <head>
        <title>Alejandro: blog personal</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        

    </head>
    <body>
<body>
    <div class="page-header">
{% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
{% endif %}
        <h1><a href="/">Alejandro: Blog django</a></h1>
  	 <input class="timepage" size="5" id="timespent" name="timespent"><br>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            
            {% endblock %}
            </div>
  
        </div>
    </div>
         </div>
    </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Blog Personal
  </div>
  <div class="card-body">
    <h5 class="card-title">Todo termino señores</h5>
    <p class="card-text">Lo unico que necesitan es seguir adelante sin bajar la marcha.</p>
    <a href="http://127.0.0.1:8000" class="btn btn-primary">Inicio</a>
  </div>
  <div class="card-footer text-muted">
    
   

  </div>
</div>
<script>
startday=new Date();clockStart=startday.getTime();function initStopwatch(){var myTime=new Date();return((myTime.getTime()-clockStart)/1000);}
function getSecs(){var tSecs=Math.round(initStopwatch());var iSecs=tSecs%60;var iMins=Math.round((tSecs-30)/60);var sSecs=""+((iSecs>9)?iSecs:"0"+iSecs);var sMins=""+((iMins>9)?iMins:"0"+iMins);document.getElementById('timespent').value=sMins+":"+sSecs;window.setTimeout('getSecs()',1000);}
window.onload = function(){
window.setTimeout('getSecs()',1);
}
</script>

</body>
    </body>
    
</html>
